In [3]:
#Pandas!
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
df_dict = {'a':[1,2,3],'b': ["red","blue","yellow"]}
df_dummy = pd.DataFrame.from_dict(df_dict)
print(df_dummy)

   a       b
0  1     red
1  2    blue
2  3  yellow

In [5]:
#selecting rows/columns
subset_cols = df_dummy[['a']]
print(subset_cols)

   a
0  1
1  2
2  3

In [6]:
df_dummy.index = ["r1","r2","r3"]

In [8]:
df_subset_r_and_c = df_dummy.loc[['r1','r3'],['b']]

In [9]:
df_subset_r_and_c

         b
r1     red
r3  yellow